.table-hover tbody tr:hover {
    background-color: rgba(0,0,0,0.075);
}

.table-responsive{
    border: 1px solid rgb(220, 220, 220);
}

.button-novo {
    color: #fff;
    background-color: #072efc;
    border-color: #072efc;
}

.painel-titulo {
    margin-bottom: 0.5rem; 
}

.barrinha {
    border: none;
    height: 3px;
    background-color: #007bff; 
    width: 100px; 
    margin: 0 0 1.5rem 0; 
    opacity: 0.8;
}