body {
    background-color: #f4f6f9;
}
.table-hover tbody tr:hover {
    background-color: rgba(0,0,0,0.075);
}
.card-custom {
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.table-responsive{
    border: 1px solid rgb(220, 220, 220);
}

.button-novo {
    color: #fff;
    background-color: #072efc;
    border-color: #072efc;
}
